.DS_store
.config.json
.dist
.jshintignore
.npm
.project
.sessions.json
.settings
.tern-project
*.backup
*_cred*
coverage
credentials.json
flows*.json
nodes/node-red-nodes/
node_modules
public
locales/zz-ZZ
nodes/core/locales/zz-ZZ
!packages/node_modules
packages/node_modules/@node-red/editor-client/public
!test/**/node_modules
docs
!packages/node_modules/**/docs
packages/node_modules/@node-red/editor-client/**/public/src
**/monaco-editor/**/*.js
**/monaco-editor/**/*.js.map
**/monaco-editor/**/*.css
**/monaco-editor/**/.*
**/typescript/**/*.js
**/typescript/**/*.js.map
**/typescript/**/*.css
**/typescript/**/lib
**/typescript/**/bin
**/typescript/**/.*
!packages/node_modules/@node-red/editor-client/src/**/*.d.ts
